<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>


    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IDuplex">
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="CustomerDeskOperationsBehavior"
        name="RootPaApp.RootPAService">
        <endpoint address="Service" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDuplex"
          name="Service" contract="RootPaApp.RootPAServiceIfc" />
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/RootPA/Service1/" />
          </baseAddresses>
          <timeouts closeTimeout="00:01:00" />
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="CustomerDeskOperationsBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>


</configuration>